<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<table>
  <thead>
    <tr>
      <th>Following</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user.following.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><button onclick="subscribe( '<%= unfollow_user_path(@user.id, user.id) %>' )">Unfollow</button></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>Followers</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user.followers.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= link_to 'Show', user %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>Not Following</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% ((User.all - [@user]) - @user.following).each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><button onclick="subscribe( '<%= follow_user_path(@user.id, user.id) %>' )">Follow</button></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
<script>
function subscribe(url)
{
	$.ajax({
	  		type: "POST",
	  		url: url
	  	})
	  	.done(function() {
	    	alert( "success" );
	  	})
	  	.fail(function() {
	    	alert( "Failure!" );
  	});
}
</script>
